/* Set height of body and the document to 100% to enable "full page tabs" */
body, html {
  height: 100%;
  margin: 0;
  font-family: Arial;
}

/* Style tab links */
.btn{
  text-align: left;
  font-size: 20px;
  background-color: Transparent;
  background-repeat:no-repeat;
  color: white;
  border: none;
  cursor:pointer;
  overflow: hidden;
  outline:none;
  width: 100%;
}

.sub-btn{
  font-size: 20px;
  background-color: #3e8914;
  border: none;
  border-radius: 10px;
  height: 50px;
}

.prnt-btn{
  font-size: 20px;
  background-color: #0086b3;
  border: none;
  border-radius: 10px;
  height: 50px;
}

.sub-btn:hover{
  background-color: #134611;
}

.prnt-btn:hover{
  background-color: #006080;
}

.adj-btn{
  font-size: 20px;
  background-color: #3e8914;
  border: none;
  border-radius: 10px;
  width: 30%;
  height: 50px;
}

.adj-btn:hover{
  background-color: #134611;
}

.card-header{
  background-color: #05668d;
}

.card-header:hover{
  background-color: #1d3557;
}

.card{
  text-align: left;
  background-color: #006494;
}

/* Style tab links */
.tablink {
  background-color: #555;
  color: white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 10px 10px;
  font-size: 15px;
  width: 25%;
  position: sticky;
  position: -webkit-sticky;
  box-shadow: 5px -5px 5px #FFF;
}

.tablink:hover {
  background-color: #777;
}

/* Style the tab content (and add height:100% for full page content) */
.tabcontent {
  color: white;
  display: none;
  padding: 100px 20px;
  /*height: 100%;*/
}

#Qn {background-color: #2c4268;}
#Scores {background-color: #26734d;}
#About {background-color: #b38600;}
#Contact {background-color: #472686;}

/*
table, th, td {
  border: 1px solid #ffff80;
}
*/

a {
    text-decoration: none;
    color: white;
}

a:hover {
    text-decoration: underline;
}

a:link, .nav a, .nav a:visited {
    color: white;
}

#header {
  font-family: sans-serif;
  font-size: max(0.9em, 12px);
  top: 0px;
  padding-bottom: 0px;
  /* border-bottom: 1px solid #eceefb; */
  box-shadow: 2px 7px 10px #999;
  position: sticky;
  position: -webkit-sticky;
  z-index: 10;
}
#footer {
  font-family: serif;
  font-size: max(0.9em, 12px);
  bottom: 0px;
  border-top: 0px solid #eceefb;
  box-shadow: 2px -5px 10px #999;
  position: sticky;
  position: -webkit-sticky;
  z-index: 10;
}

.sh5 {
  color: #ffff00;
}

@media screen and (max-width: 1200px) {
   .header-wide {
    display: none;
  }
   .footer-wide {
    display: none;
  }
}

.overall_report{
  font-size: 18px;
  background-color: #0086b3;
  border: none;
  border-radius: 10px;
  /* height: 70px; */
}

