SENDER_EMAIL="readiness.in@gmail.com"
SENDER_PASSWORD=""
CAPTCHA_PRIVATE=""
RECAPTCHA_SITE_KEY=""
DB_JSON="production_db"
DB_FEEDBACK="production_fb_db"
HTTP_ORIGIN="https://covid.readiness.in"
ADMIN_EMAIL=""
REPORT_RECIPIENTS=""
MONGO_URI="mongodb://localhost:27017"
STATIC_ROOT=""
RECAPTCHA_ENABLED="true"
EMAIL_ENABLED="true"
